.footer {
	@extend .wrapper;
	font-size: $font-size-tiny;
	line-height: 1;
	text-align: center;
	padding-bottom: $padding--default;

	p {
		margin: 0 auto $margin--big;
		width: 80%;
	}

	@include media(phablet) {
		text-align: left;

		p {
			width: auto;
		}

		.LogoFootshop {
			float: left;
			margin: 0 10px 5px 0;
		}
	}
}