.header {
	background-color: $cod-gray;
	left: 0;
	padding: 20px 10px 20px 30px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	.logo-footshop {
		left: 30px;
		position: absolute;
		top: 25px;
	}

	.logo-raf {
		display: block;
		margin: auto;
	}
}