.header {
	background-color: #111;
	left: 0;
	padding: 20px 10px 25px 30px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	.logo-footshop {
		float: left;
		margin-top: 5px;
	}

	.hamburger {
		float: right;
		padding-top: 8px;
	}
	.logo-raf {
		display: block;
		margin: auto;
	}
}