$font-color: $base-color;
$font-brandon: 'BrandonGrotesque';
$font-family: $font-brandon, sans-serif;

$font-size-tiny: 12px;
$font-size-small: 24px;
$font-size: 30px;
$font-size-big: 50px;
$font-size-great: 70px;
