#slide0 {
	@include child-middle;
	padding-top: 0;
	text-align: center;

	& > div {
		max-width: $wrapper--width;
		width: 100%;
	}

	@include media(phablet) {
		padding: 0 50px;
	}
}

.intro {
	margin: -50px auto 0;
	position: relative;
}