.Carousel {
	$timeline: (
			line-height: 20px,
			padding: 50px,
			stripe-width: 20px,
			stripe-top: 35px
	);

	&.reversed {
		.timeline {
			padding-left: #{map_get($timeline, padding)};
			padding-right: 0;
			&:after {
				left: #{(map_get($timeline, padding) - map_get($timeline, stripe-width)) / 2};
				right: auto;
			}
		}
	}

	.counter {
		float: left;
		font-size: $font-size-great;
		font-weight: 700;
		line-height: 1.2;
		margin: 30px 0 0 20px;
	}
	.slick-arrow {
		display: none !important;
	}
	.slick-list {
		font-size: $font-size-tiny;
		line-height: 1;
		text-align: right;
	}
	.slick-slide {
		padding-right: 40px;

		&.slick-active {
			z-index: 1;
		}

		h3, img, p {
			position: relative;
		}
		h3 {
			font-size: 30px;
			margin-bottom: 0;
			text-transform: none;
		}
		img {
			display: block;
			margin-bottom: $margin--default;
			max-height: 30vh;
		}
	}
	.slick-slider {
		clear: both;
		margin: auto;
		max-width: $wrapper--width;
	}
	.slider-controls {
		@include clearfix;
		float: left;
		margin: 30px 0 0 10%;
	}
	.step {
		float: left;

		svg {
			cursor: pointer;
			fill: $white;
			width: 60px;
		}
	}
	.timeline {
		color: $gray;
		float: left;
		font-size: $font-size-tiny;
		line-height: #{map_get($timeline, line-height)};
		list-style: none;
		margin: 0;
		padding: 0 #{map_get($timeline, padding)} 0 0;
		position: relative;

		@for $i from 0 through 5 {
			&.active#{$i} li {
				&:first-child {
					margin-top: #{map_get($timeline, line-height) * (-$i + 1) + 5};
				}
			}
		}

		&:after {
			border-top: 1px solid $white;
			content: '';
			position: absolute;
			right: #{(map_get($timeline, padding) - map_get($timeline, stripe-width)) / 2};
			top: #{map_get($timeline, stripe-top)};
			width: #{map_get($timeline, stripe-width)};
		}

		li {
			cursor: pointer;
			transition: all .5s;

			&:first-child {
				margin-top: #{map_get($timeline, line-height) + 5};
			}
			&.active {
				color: $white;
			}
		}
	}


	@include media(phablet) {

		&.reversed {
			.slick-slide {
				padding-top: 0;

				img {
					margin-left: 0;
				}
			}
		}

		.bundled {
			left: 10%;
			position: absolute;
			top: 50px;
			z-index: 1;
		}
		.counter {
			margin-top: 0;
		}
		.slick-list {
			font-size: $font-size-small;
			padding: 50px 0;
		}
		.slick-slide {
			padding-right: 0;
			padding-top: 100px;
			text-align: right;

			.info {
				padding-left: 25%;
				position: absolute;
				right: 0;
				top: 0;
			}

			img {
				float: right;
				max-height: 50vh;
			}
		}
		.slick-slider {
			margin: 0 60px 0 20%;
		}
		.slider-controls {
			margin: 0;
			position: absolute;
			top: 5%;
		}
		.timeline {
			bottom: 0;
			font-size: 12px;
			left: 50px;
			padding: 0 0 0 50px;
			position: absolute;
			text-transform: uppercase;
			transform: rotate(-90deg);
			transform-origin: top left;
			z-index: 2;

			&:after {
				display: none;
			}

			li {
				display: inline-block;
				margin-top: 0 !important;
				padding: 0 10px;
				position: relative;

				&:before {
					@include square(6px);
					background-color: $white;
					border-radius: 50%;
					bottom: 100%;
					content: '';
					left: 50%;
					margin-bottom: 5px;
					position: absolute;
					transform: scale(0) translate3d(-50%, 0, 0);
					transition: transform .5s;
				}

				&.active:before {
					transform: scale(1) translate3d(-50%, 0, 0);
				}
			}
		}
	}
	@include media(desktop) {
		.bundled {
			left: 20%;
		}
		.timeline {
			left: 100px;
		}
	}
	@include media(desktop-large) {
		.timeline {
			font-size: $font-size-tiny;
		}
	}
	@include media(big-vh) {
		.timeline {
			li {
				padding: 0 20px;
			}
		}
	}
}