.Cites {
	color: $gray;

	blockquote {
		float: left;
		font-size: $font-size-small;
		font-weight: 700;
		margin: $margin--default 0 0;
	}
	small {
		float: right;
		font-size: $font-size-tiny;
		font-weight: 400;
		margin-top: 5px;
		position: relative;
		text-transform: uppercase;
	}

	@include media(phablet) {
		blockquote {
			font-size: $font-size;
			margin-top: $margin--small;
			padding-right: 50px;
		}
	}
	@include media(desktop-large) {
		blockquote {
			font-size: $font-size-big;
		}
		small {
			font-size: $font-size;
		}
	}
}