.History {

	.slick-arrow {
		display: none !important;
	}
	.slick-list {
		font-size: $font-size-tiny;
		text-align: right;
	}
	.slick-slide {
		padding-right: 40px;

		p {
			padding-left: 20px;
		}
	}
}