.mute {
	float: right;
	font-size: $font-size-small;
	padding: 30px 30px 30px 10px;
	text-align: center;
	text-transform: uppercase;

	p {
		margin-bottom: 0;
	}
	svg {
		fill: $white;
		width: 30px;
	}
}