#slide4 {
	overflow: visible;
}

.RafInFs {
	.collection {
		color: $black;
		margin: 0 auto;
		padding: 0 $padding--default $padding--default;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		width: 80%;

		figcaption {
			background-color: $white;
			box-shadow: 5px 5px 20px rgba($black, .5);
			left: 50%;
			line-height: 1;
			max-width: 500px;
			position: absolute;
			padding: 10px;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
		}
		img {
			opacity: .7;
			position: relative;
		}
		span {
			font-size: $font-size-small;
			letter-spacing: 3px;
		}
		strong {
			display: block;
			font-size: 1.3em;
			font-weight: 400;
		}
	}

	@include media(phablet) {
		img {
			height: 70vh;
		}
	}
}