.scroll-down {
	bottom: 30px;
	left: 50%;
	position: fixed;
	text-align: center;
	transform: translateX(-50%);

	p {
		font-size: .6em;
		margin-bottom: 5px;
		text-transform: uppercase;
	}
	svg {
		fill: $white;
		width: 30px;

		&.arrow {
			animation: jumpy 1.5s infinite;
			display: block;
			margin: auto;
			position: relative;
			width: 10px;
		}
	}
}

@keyframes jumpy {
	0% { top: -5px; }
	50% { top: 0; }
	70% { top: 5px; }
	100% { top: -5px; }
}