.Signature {

	.Carousel .slick-slide {
		position: relative;

		&.slick-active {
			img {
				opacity: .5;
			}
			p {
				bottom: 0;
			}
		}

		img {
			max-height: 50vh;
		}
		p {
			bottom: -20px;
			left: 0;
			position: absolute;
			top: auto !important;
			right: 40px;
		}
	}

}