.Signature {

	.Carousel .slick-slide {
		position: relative;

		img {
			max-height: 50vh;
			opacity: .5;
			position: absolute;
			z-index: -1;
		}
		.info {
			padding: 50px 0 0 15px;
		}
	}


	@include media(phablet) {
		.content {
			position: static !important;
		}
		.Carousel {
			.slick-slide {
				text-align: left;

				.info {
					clear: both;
					padding-left: 20%;
					position: static;
				}

				img {
					float: left;
					max-height: 40vh;
					opacity: 1;
					position: relative;
				}
			}
			.step {
				left: 20%;
				margin-left: 50px;
				padding-top: 200px;
				position: absolute;
				top: 40vh;
				z-index: 1;
			}
			.timeline {
				padding-left: 8%;

				li {
					&:nth-child(1) { top: 20px; }
					&:nth-child(2) { top: 40px; }
					&:nth-child(3) { top: 20px; }
					&:nth-child(4) { top: 0; }
				}
			}
		}
	}
}