.Slider {

	.slide {
		$animationsDuration: .7s;

		height: 100vh;
		padding-top: 100px;
		overflow: hidden;
		position: relative;

		&.active {
			.animate-content {
				opacity: 1;
				top: 0;
			}
			.animate-heading {
				margin-top: 0;
				opacity: 1;
			}
			.animate-image {
				left: 0;
				transform: scale(1);

				img {
					opacity: .4;
				}
			}
			// delays
			.animate-image, .animate-image img {
				transition-delay: .4s;
			}
			.animate-content {
				transition-delay: .5s;
			}
		}

		.animate-content {
			opacity: 0;
			position: relative;
			top: -20px;
			transition: top $animationsDuration, opacity $animationsDuration;
		}
		.animate-heading {
			line-height: normal;
			margin-top: 50px;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 80px;
			transform-origin: top right;
			transform: rotate(90deg) translateX(100%);
			z-index: 1;
			transition: margin-top $animationsDuration, opacity $animationsDuration;
			white-space: nowrap;
		}
		.animate-image {
			background-color: $bg-color;
			display: inline-block;
			font-size: 0;
			left: 5%;
			position: relative;
			transform: scale(.95);
			transition: all $animationsDuration;

			img {
				opacity: 1;
				transition: opacity $animationsDuration;
			}
		}
	}
	.slide-video {

	}

	@include media(phablet) {
		.slide {
			.animate-heading {
				font-size: $font-size-big;
			}
		}
	}
}