.who-is-raf {
	font-size: $font-size-tiny;
	line-height: 18px;
	padding: 0 30px 0 20px;

	.link {
		display: inline-block;
		margin-top: $margin--default;
	}

	img {
		left: 0;
		max-width: 90%;
		opacity: .4;
		position: absolute;
	}
	p {
		padding-top: 20%;
		position: relative;
	}

	@include media(phablet) {
		font-size: $font-size;
		line-height: 1.1;
		max-width: $wrapper--width;
		margin: auto;

		p {
			padding: 30% 0 0 30%;
		}
	}
}