.Youtube {
	margin: auto;
	max-width: $wrapper--width;

	.mute {
		cursor: pointer;
		float: right;
		font-size: $font-size-small - 4;
		padding: 0 30px 10px 10px;
		text-align: center;
		text-transform: uppercase;

		&.is-muted {
			svg {
				height: 21px;
				padding-top: 3px;
			}
		}

		p {
			margin-bottom: 0;
		}
		svg {
			fill: $white;
			width: 24px;
		}
	}
	.video-wrapper {
		clear: both;
	}
	.video {
		clear: both;
		overflow: hidden;
		position: relative;

		.title {
			font-size: 25px;
			font-weight: 700;
			letter-spacing: 5px;
			margin-bottom: 0;
			opacity: .5;
			position: absolute;
			text-transform: uppercase;
			transition: opacity 1s;
			top: 100%;
			z-index: 1;

			&.hidden {
				opacity: 0;
			}

			&.left {
				left: 0;
				transform: rotate(-90deg);
				transform-origin: top left;
			}
			&.right {
				right: 0;
				transform: rotate(90deg);
				transform-origin: top right;
			}
		}
	}
	.youtube {
		position: relative;
	}

	@include media(phablet) {

		.mute {
			font-size: $font-size-small;
			top: 100%;

			&.is-muted svg {
				height: 30px;
				padding-top: 5px;
			}

			svg {
				width: 30px;
			}
		}
	}
}